body {
  background-color: rgb(210, 242, 210);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.header {
  display: flex;
  align-items: center;
  max-height: 800px;
  min-height: 55vh;
  padding-top: 2rem;
  text-align: center;
}
.login-header {
  display: flex;
  align-items: center;
  max-height: 800px;
  min-height: 20vh;
  padding-top: 2rem;
  text-align: center;
}
#login-button {
  display: flex;
  justify-content: center;
}
.mainpage {
  display: flex;
  align-items: center;
  max-height: 200px;
  padding-top: 0.5rem;
  text-align: center;
  color: darkolivegreen;
}
.navbar a {
  color: darkolivegreen;
}
img {
  display: flex;
  align-items: center;
}
.img-fluid {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-around;
  justify-items: center;
}

#mainpic {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-around;
  justify-items: center;
}

#userPage {
}
