/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: #333333;
}
a:visited {
  text-decoration: none;
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: chocolate;
}

h1 {
  margin: 0 0 1.5rem;
}

body {
  background: (#c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(78, 216, 234);
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px 20px 0;
  font-size: 50px;
  width: 100%;
}

#section-title {
  text-underline-position: below;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
select {
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 6px;
  width: 200px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.robot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projects {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: Optima, sans-serif;
}

img {
  max-width: 500px;
}

button {
  max-width: 100px;
  max-height: 70px;
  align-self: flex-end;
  border-style: none;
  box-sizing: border-box;
  justify-content: center;
  padding: 2px 4px;
}

button:hover {
  opacity: 0.5;
}
